h1 {
  font-size: clamp(16px, 5vh, 48px);
}

body {
  background-color: white;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  /* slightly more opaque */
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* soft subtle shadow */
  padding: 0.5rem 1rem;
  /* vertical + horizontal padding */
}

.navbar-brand img {
  -o-object-fit: contain;
     object-fit: contain;
  /* keeps logo proportional */
}

.login-button {
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #144091;
  color: white;
}

.logout-button {
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #144091;
  color: white;
}

.kubishi_logo {
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand-text {
  width: 100%;
}

.count-box_setter {
  width: 100%;
}

.search_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 950px;
  margin: 0 auto;
}

::-webkit-input-placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

::-ms-input-placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

::placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

.menu_logo {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  border: 1px solid black;
}

.menu_logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title_subtext {
  font-size: 10pt;
}

.main_logo {
  border: 1px solid black;
  /* invisible border, keeps space */
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.main_logo:hover {
  border-radius: 1px;
}

.conference_count {
  font-size: 15px;
  color: #7a7676fd;
}

.highlight-count {
  color: black;
}

.bg-image {
  position: fixed;
  /* stays in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* pushes it behind all other content */
}

.bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main_search_box {
  width: 100%;
}

.navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.toggle-advanced-button {
  color: white;
}

.toggle-advanced-button:hover {
  background: #78C4EB;
  color: white;
}

.conference-add-button {
  color: white;
}

.conference-add-button:hover {
  background: #A47DCA;
  color: white;
}

.favorite-button {
  background-color: #e19f06;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.favorite-button:hover {
  background-color: #b27a04;
  color: white;
}

.outlook-button {
  background-color: #2563EB;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.outlook-button:hover {
  background-color: #1c48b8;
  color: white;
}

.google-callendar-button {
  background: #0F9D58;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.google-callendar-button:hover {
  background: #0c7a44;
  color: white;
}

.friend-button {
  color: white;
}

.friend-button:hover {
  background: #FBA1C5;
  color: white;
}

.saved-conf-button {
  color: white;
}

.saved-conf-button:hover {
  background: #C3D888;
  color: white;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}

.search-box {
  background-color: rgba(255, 255, 255, 0.65);
  max-width: 1000px;
  margin: auto;
  -webkit-box-shadow: 0 0 6px 0.5px lightgrey;
          box-shadow: 0 0 6px 0.5px lightgrey;
}

.text-box {
  position: relative;
  width: 100%;
}

.text-box textarea {
  resize: none;
  height: 10vh;
  min-height: 40px;
  max-height: 100px;
}

.submit-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 40px;
  z-index: 2;
  min-width: 80px;
}

.count-box-setter {
  position: absolute;
  bottom: 50px;
  right: 5px;
  height: 30px;
  z-index: 2;
  min-width: 80px;
}

.search-count-section {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 40px;
  z-index: 2;
}

.dropzone-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* horizontal center */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* vertical center */
  position: relative;
  text-align: center;
  min-height: 200px;
}

@media screen and (max-width: 768px) {
  .title_subtext {
    display: none;
    /* Hides the text on screens 768px wide or less */
  }
  .menu_logo {
    display: none;
  }
  .conference_count {
    display: none;
  }
  .submit-button {
    font-size: 10pt;
    height: 35px;
  }
  .friend-button {
    font-size: 7pt;
  }
  .toggle-advanced-button {
    font-size: 7pt;
  }
  .saved-conf-button {
    font-size: 7pt;
  }
  .conference-add-button {
    font-size: 7pt;
  }
  .count-box-setter {
    font-size: 14px;
    height: 30px;
    width: 90px;
  }
  .navigation-buttons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    /* 2 buttons per row */
    gap: 12px;
  }
}
/*# sourceMappingURL=styles.css.map */