body {
    background-color: white;
}

.navbar {
    background-color: lightgrey
}

.kubishi_logo {
    margin-right: 5px;
    align-items: center;
}

.search_result {
    display: flex;
    flex-direction: column;  /* stacks children vertically */
  }

  ::placeholder {
    color: #000;   /* black */
    opacity: 1;
  }

