body {
  background-color: white;
}

.login-button {
  background-color: #2671f4;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #144091;
  color: white;
}

.logout-button {
  background-color: #2671f4;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #144091;
  color: white;
}

.kubishi_logo {
  margin-right: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* stacks children vertically */
}

::-webkit-input-placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

::-ms-input-placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

::placeholder {
  color: #000;
  /* black */
  opacity: 1;
}

.menu_logo {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
  border: 1px solid black;
}

.menu_logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.title_subtext {
  font-size: 10pt;
}

.main_logo {
  border: 1px solid black;
  /* invisible border, keeps space */
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.main_logo:hover {
  border-radius: 1px;
}

.conference_count {
  font-size: 15px;
  color: #7a7676fd;
}

.highlight-count {
  color: black;
}

.bg-image {
  position: fixed;
  /* stays in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* pushes it behind all other content */
}

.bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(30px);
          filter: blur(30px);
}

.toggle-advanced-button {
  color: white;
}

.conference-add-button {
  color: white;
}

.favorite-button {
  background-color: #e19f06;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.favorite-button:hover {
  background-color: #b27a04;
  color: white;
}

.outlook-button {
  background-color: #2563EB;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.outlook-button:hover {
  background-color: #1c48b8;
  color: white;
}

.google-callendar-button {
  background: #0F9D58;
  color: white;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.google-callendar-button:hover {
  background: #0c7a44;
  color: white;
}

.friend-button {
  background: #bf3cbf;
  color: white;
}

.friend-button:hover {
  background: #8e298e;
  color: white;
}

.saved-conf-button {
  background: teal;
  color: white;
}

.saved-conf-button:hover {
  background: #015959;
  color: white;
}
/*# sourceMappingURL=styles.css.map */