body {
    background-color: white;
}

.login-button {
  background-color: #2671f4;
  color:white;
}

.logout-button {
  background-color: #2671f4;
  color:white;
}

.kubishi_logo {
    margin-right: 5px;
    align-items: center;
}

.search_result {
    display: flex;
    flex-direction: column;  /* stacks children vertically */
  }

::placeholder {
    color: #000;   /* black */
    opacity: 1;
  }

  .menu_logo {
    transition: transform 0.4s ease-out;
    border: 1px solid black;
    
  }
  
  .menu_logo:hover {
    transform: scale(1.1);
  }

  .title_subtext{
    font-size: 10pt;
  }

  .main_logo {
    border: 1px solid black; /* invisible border, keeps space */
    transition: border-color 0.3s ease;
  }
  
  .main_logo:hover {
    border-color: #9b9898; /* border appears without resizing */
    border-radius: 1px;  /* subtle rounding */
  }

  .conference_count {
    font-size: 15px;
    color: #7a7676fd;
  }

  .highlight-count {
    color: black;
  }

  .bg-image {
    position: fixed;   /* stays in place while scrolling */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;       /* pushes it behind all other content */
  }
  .bg-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
  }

  .toggle-advanced-button{
    color: white;
  }

  .conference-add-button{
    color: white;
  }

  .favorite-button {
    background-color: #e19f06;
    color: white;
  }

  .outlook-button{
    background-color: #2563EB;
    color: white;
  }

  .google-callendar-button{
    background: #0F9D58;
    color:white;
  }
