<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    
    <!-- Brand / Logo -->
    <a class="d-flex align-items-center text-decoration-none" href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='img/logo_bg.png') }}"
           width="40" height="40" class="menu_logo me-2 rounded-2" alt="Kubishi Scholar logo">
      <div class="d-flex flex-column">
        <span class="fs-5 fw-bold text-dark">Kubishi Scholar</span>
        <span class="title_subtext text-muted">Semantic Conference Discovery</span>
      </div>
    </a>
    {% if session.get('user_id') %}
      {% if is_admin %}
      <a href="/conf_approval" class="conference-review-button btn btn-dark border-0 rounded-3" rel="noopener noreferrer">
        review
      </a>
      {% endif %}
  {% endif %}

    <!-- Right-aligned login/logout -->
    <div class="d-flex align-items-center">
      {% if session.get('user') and session['user'].get('userinfo') %}
        <a href="{{ url_for('conferences.about_me_page') }}" 
          class="me-3 text-dark text-decoration-none">
            <strong>Welcome, {{ session['user']['userinfo']['name'] }}!</strong>
        </a>
        <a href="{{ url_for('logout') }}" class="logout-button btn btn-sm btn-dark">Logout</a>
      {% else %}
        <span class="me-3"><strong>Welcome!</strong></span>
        <a href="{{ url_for('login') }}" class="login-button btn btn-sm btn-dark">Login</a>
      {% endif %}

    </div>

  </div>
</nav>