{% extends "base.html" %}

{% block body %}

<picture class="bg-image">
  <img src="static/img/background3.jpg" alt="Nothing Honey" class="w-full h-screen object-cover blur-50 brightness-50 scale-105">
</picture>

<div class="container my-4" style="max-width: 700px;">
  <h1 class="mb-4">Enter Conferences</h1>

  <form method="POST" action="{{ url_for('conferences.conference_adder') }}" class="my-3">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.conference_id.label(class="form-label") }}
        {{ form.conference_id(class="form-control", placeholder="Ex: WSDM") }}
    </div>

    <div class="mb-3">
        {{ form.title.label(class="form-label") }}
        {{ form.title(class="form-control", placeholder="Ex: Eighteenth International Conference on Web Search and Data Mining") }}
    </div>

    <div class="mb-3">
        {{ form.country.label(class="form-label") }}
        {{ form.country(class="form-control", placeholder="Ex: Germany") }}
    </div>

    <div class="mb-3">
        {{ form.city.label(class="form-label") }}
        {{ form.city(class="form-control", placeholder="Ex: Hannover") }}
    </div>

    <div class="row g-3 mb-3">
        <div class="col-md-4">
            {{ form.deadline.label(class="form-label") }}
            {{ form.deadline(class="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.start.label(class="form-label") }}
            {{ form.start(class="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.end.label(class="form-label") }}
            {{ form.end(class="form-control") }}
        </div>
    </div>

    <div class="mb-3">
        {{ form.topic_list.label(class="form-label") }}
        {{ form.topic_list(class="form-control", rows="3", placeholder="Brief description or topics...") }}
    </div>

    <div class="mb-3">
        {{ form.conference_link.label(class="form-label") }}
        {{ form.conference_link(class="form-control", placeholder="Ex: https://www.wsdm-conference.org/2025/") }}
    </div>

    <!-- Modal trigger button -->
    <button type="button" class="btn btn-primary btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Submit Conference
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Input</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <!-- This still submits the form -->
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
  </form>
</div>
{% endblock %}
