{% extends "base.html" %}

{% block body %}
<picture class="bg-image">
  <img src="static/img/background3.jpg" alt="Nothing Honey" class="w-full h-screen object-cover blur-50 brightness-50 scale-105">
</picture>

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="static/img/logo_bg.png" width="40" height="40" class="menu_logo me-2 rounded-2" alt="">
      <div class="d-flex flex-column">
        <span class="fs-5 fw-bold text-dark">Kubishi Scholar</span>
        <span class="title_subtext text-muted">Semantic Conference Discovery</span>
      </div>
    </a>
  <div class="d-flex ms-auto align-items-center">
    {% if session_user_name and session_user_name.userinfo %}
      <span class="me-3">
          <strong>Welcome {{ session_user_name.userinfo.name }}!</strong>
      </span>
      <a href="/logout" class="logout-button btn btn-sm">Logout</a>
    {% else %}
      <span class="me-3">
          <strong> Welcome! </strong>
      </span>
      <a href="/login" class="login-button btn btn-sm">Login</a>
    {% endif %}
  </div>
</div>
</nav>

<div class="container my-4" style="max-width: 700px;">
    <h1 class="mb-4">Make Connections</h1>
    <form method="GET" action="/connection_search" class="my-3">
      <div class="mb-3">
        <label for="conference_id" class="form-label">Enter Email</label>
        <input type="text" class="form-control" id="connection_email_search" name="connection_email_search" value="{{ connection_email_search }}" required placeholder="example@gmail.com">
      </div>
    </form>


    {% if searched_user_info.user_name %}
        <div> {{ searched_user_info.user_name, searched_user_info.user_email, searched_user_info.google_auth_id }} </div>
    {% endif %}
    
    
</div>



{% endblock body %}