{% extends "base.html" %}

{% block body %}
<picture class="bg-image">
  <img src="static/img/background3.jpg" alt="Nothing Honey" class="w-full h-screen object-cover blur-50 brightness-50 scale-105">
</picture>


<div class="container my-4" style="max-width: 700px;">
    <h1 class="mb-4">Make Connections</h1>
    <form method="GET" action="/connection_search" class="my-3">
      <div class="mb-3">
        <label for="conference_id" class="form-label">Enter Email</label>
        <input type="text" class="form-control" id="connection_email_search" name="connection_email_search" value="{{ connection_email_search }}" required placeholder="example@gmail.com">
      </div>
    </form>

    <div class="container mb-4 border border-1 border-dark p-2 btn text-start bg-white rounded-3">
      {% if searched_user_info %}
          {% for u in searched_user_info %}
              <div>{{ u.user_name }} — {{ u.user_email }}</div>
          {% endfor %}
      {% else %}
          <div>No user found.</div>
      {% endif %}
    </div>
    
    
</div>



{% endblock body %}