{% extends "base.html" %}

{% block body %}
<picture class="bg-image">
  <img src="static/img/background3.jpg" alt="Nothing Honey" class="w-full h-screen object-cover blur-50 brightness-50 scale-105">
</picture>

<nav class="navbar mb-2">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="static/img/logo_bg.png" width="40" height="40" class="menu_logo me-2 rounded-2" alt="">
        <div class="d-flex flex-column">
          <span class="fs-5 fw-bold text-dark">Kubishi Scholar</span>
          <span class="title_subtext text-muted">Semantic Conference Discovery</span>
        </div>
      </a>
  </div>
</nav>

{% if not favorited_conferences %}
    <h3 class="text-center text-bold text-dark bg-white ">No Conferences Added Yet!</h3>
    <!-- <img class="mx-auto d-block" src="static/img/ghost_town.gif" alt="its a ghost town here"> -->
{% else %}
    <div class="d-flex flex-column align-items-center">
        {% for conf in favorited_conferences %}
            <div class="mb-3 border border-1 border-dark p-2 text-center bg-white rounded" style="width: 300px;">
                <h5 class="m-0">{{ conf.fav_conf_id }}</h5>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% endblock %}
